<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jolin.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jolin.domain.Article">
        <result column="id" property="id"/>
        <result column="sort" property="sort"/>
        <result column="is_delete" property="isDelete"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>

        <result column="category_id" property="categoryId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="photo_url" property="photoUrl"/>
        <result column="read_num" property="readNum"/>
        <result column="liked_num" property="likedNum"/>
        <result column="collect_num" property="collectNum"/>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        sort,
        is_delete,
        created_at,
        updated_at,

        category_id,
        title,
        content,
        photo_url,
        read_num,
        liked_num,
        collect_num,
    </sql>

    <select id="getPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        article
        where
        is_delete = 0
        <if test="article.categoryId != null and article.categoryId != ''">
            AND  categoryId = #{article.categoryId})
        </if>

        <if test="article.title != null and article.title != ''">
            AND  title like concat ('%',#{article.title},'%')
        </if>


    </select>
</mapper>