<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jolin.mapper.DataItemMapper">
    <resultMap id="MapperResultMap" type="com.jolin.domain.DataItem">
        <result column="id" property="id"/>
        <result column="flag" property="flag"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="modified_by" property="modifiedBy"/>
        <result column="modified_date" property="modifiedDate"/>
        <result column="order_index" property="orderIndex"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="remark" property="remark"/>
        <result column="state" property="state"/>
        <result column="parent_id" property="parentId"/>
        <result column="data_item_type_id" property="dataItemTypeId"/>
        <result column="path" property="path"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        flag,
        created_by, created_date, modified_by, modified_date, code, order_index, name, remark, state, parent_id,path
    </sql>
    <!-- 通用查询结果列 -->
    <sql id="selectPage_Column_List">
        di.id ,di.flag,
        di.created_by, di.created_date, di.modified_by, di.modified_date, di.code, di.order_index, di.name, di.remark, di.state, di.parent_id,
         dit.id as data_item_type_id,dit.type_name as data_item_type_name
    </sql>
    <select id="selectPage" resultType="java.util.Map">
        select
        <include refid="selectPage_Column_List"/>
        from
        data_item di
        LEFT JOIN data_item_type dit ON di.data_item_type_id = dit.id
        where
        di.flag=1
        <if test="dataItem.code != null and dataItem.code != ''">
            AND code = #{dataItem.code}
        </if>
        <if test="dataItem.dataItemTypeId != null and dataItem.dataItemTypeId != ''">
            AND data_item_type_id = #{dataItem.dataItemTypeId}
        </if>
        <if test="_databaseId == 'mysql'||_databaseId == 'kingbasees'||_databaseId == 'postgresql'">
            <if test="dataItem.name != null and dataItem.name != ''">
                AND name LIKE concat ('%',#{dataItem.name},'%')
            </if>
            <if test="dataItem.parentId != null">
                AND parent_id = #{dataItem.parentId}
            </if>
        </if>
        <if test="_databaseId == 'oracle'">
            <if test="dataItem.name != null and dataItem.name != ''">
                AND name LIKE '%' || #{dataItem.name} || '%'
            </if>
            <if test=" dataItem.parentId != null and dataItem.parentId == ''">
                AND parent_id is null
            </if>
            <if test="dataItem.parentId != null and dataItem.parentId != ''">
                AND parent_id = #{dataItem.parentId}
            </if>
        </if>

    </select>
    <select id="findByDataItemTypeId" resultMap="MapperResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from
        data_item
        where
        flag=1
        and data_item_type_id in
        <foreach collection="dataItemTypeIds" item="dataItemTypeId" index="index" open="(" close=")" separator=",">
            #{dataItemTypeId}
        </foreach>
    </select>
    <select id="findByNameAndDataItemTypeId" resultMap="MapperResultMap">

        SELECT
        <include refid="Base_Column_List"/>
        from
        data_item
        where
        flag=1
        <if test="_databaseId == 'mysql'||_databaseId == 'kingbasees'||_databaseId == 'postgresql'">
            <if test="dataItem.name != null and dataItem.name != ''">
                AND name LIKE concat ('%',#{dataItem.name},'%')
            </if>
        </if>
        <if test="_databaseId == 'oracle'">
            <if test="dataItem.name != null and dataItem.name != ''">
                AND name LIKE '%' || #{dataItem.name} || '%'
            </if>
        </if>
        <if test="dataItem.dataItemTypeId != null">
            AND data_item_type_id = #{dataItem.dataItemTypeId}
        </if>
    </select>
    <select id="pageByIds" resultType="java.util.Map">
        select
        <include refid="selectPage_Column_List"/>
        from
        data_item di
        LEFT JOIN data_item_type dit ON di.data_item_type_id = dit.id
        where
        di.flag=1 and dit.flag=1
        and di.id in
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="findByPathAndName" resultMap="MapperResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from
        data_item
        where
        flag=1
        <if test="_databaseId == 'mysql'||_databaseId == 'kingbasees'||_databaseId == 'postgresql'">
            <if test="dataItem.name != null and dataItem.name != ''">
                AND name LIKE concat ('%',#{dataItem.name},'%')
            </if>
            <if test="dataItem.path != null and dataItem.path != ''">
                AND path LIKE  concat ('%',#{dataItem.path},'%')
            </if>
        </if>

        <if test="_databaseId == 'oracle'">
            <if test="dataItem.name != null and dataItem.name != ''">
                AND name LIKE '%' || #{dataItem.name} || '%'
            </if>
            <if test="dataItem.path != null and dataItem.path != ''">
                AND path LIKE  '%' || #{dataItem.path} || '%'
            </if>
        </if>

    </select>
    <select id="findAllByIdIn" resultType="java.util.Map">
        select
        <include refid="selectPage_Column_List"/>
        from
        data_item di
        LEFT JOIN data_item_type dit ON di.data_item_type_id = dit.id
        where
        di.flag=1 and dit.flag=1
        and di.id in
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="findDataItemByDataItemTypeName" resultType="java.util.Map">
        select
        <include refid="selectPage_Column_List"/>
        from
        data_item di
        LEFT JOIN data_item_type dit ON di.data_item_type_id = dit.id
        where
        di.flag=1
        and dit.flag=1
        and dit.type_name=#{dataItemTypeName}
    </select>


</mapper>
