<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jolin.mapper.LogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jolin.domain.Log">
        <result column="id" property="id"/>
        <result column="sort" property="sort"/>
        <result column="is_delete" property="isDelete"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>

        <result column="info" property="info"/>
        <result column="log_class_name" property="logClassName"/>
        <result column="log_client_ip" property="logClientIp"/>
        <result column="log_info" property="logInfo"/>
        <result column="log_method_name" property="logMethodName"/>
        <result column="log_url" property="logUrl"/>
        <result column="log_user_name" property="logUserName"/>
        <result column="module" property="module"/>
        <result column="type" property="logUserName"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        sort,
        is_delete,
        created_at,
        updated_at,

        info,
        log_class_name,
        log_client_ip,
        log_info,
        log_method_name,
        log_url,
        log_user_name,
        `module`,
        `type`,
        start_time ,
        end_time
    </sql>

    <select id="getPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        log
        where
        is_delete = 0
        <if test="log.info != null and log.info != ''">
            AND info = #{log.info})
        </if>


    </select>
</mapper>