<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jolin.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jolin.domain.Permission">
        <result column="id" property="id"/>
        <result column="sort" property="sort"/>
        <result column="is_delete" property="isDelete"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>


        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="permission_key" property="permissionKey"/>
        <result column="description" property="description"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        sort,
        is_delete,
        created_at,
        updated_at,

        parent_id,
        `name`,
        permission_key,
        appointment_time,
        description
    </sql>

    <select id="getPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        permission
        where
        is_delete = 0
        <if test="permission.parentId != null and permission.parentId != ''">
            AND parentId = #{permission.parentId}
        </if>

        <if test="permission.parentKey != null and permission.parentKey != ''">
            AND parentkey = #{permission.parentKey}
        </if>

    </select>
</mapper>