<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jolin.mapper.RolePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jolin.domain.RolePermission">
        <result column="id" property="id"/>
        <result column="sort" property="sort"/>
        <result column="is_delete" property="isDelete"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>

        <result column="role_id" property="roleId"/>
        <result column="permission_id" property="permissionId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        sort,
        is_delete,
        created_at,
        updated_at,

        role_id,
        permission_id
    </sql>

    <select id="getPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        role_permission
        where
        is_delete = 0
        <if test="role_permission.roleId != null and role_permission.roleId != ''">
            AND role_id = #{role_permission.roleId}
        </if>

        <if test="role_permission.permissionId != null and role_permission.permissionId != ''">
            AND permission_id = #{role_permission.permissionId}
        </if>

    </select>
</mapper>