<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jolin.mapper.UserInfoMapper">

    <!-- Mapping results of a general query -->
    <resultMap id="BaseResultMap" type="com.jolin.domain.UserInfo">
        <result column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="login_name" property="loginName"/>
        <result column="nickname" property="nickName"/>
        <result column="password" property="password"/>
        <result column="photo_url" property="photoUrl"/>
        <result column="state" property="state"/>
        <result column="sort" property="sort"/>
        <result column="is_delete" property="isDelete"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <!-- Generic query result column -->
    <sql id="Base_Column_List">
        id,
        role_id,
        login_name,
        nickname,
        password,
        photo_url,
        `state` ,
        sort,
        is_delete,
        created_at,
        updated_at
    </sql>
  

  
    <select id="selectPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        user_info
        where
        is_delete = 0

        <if test="userInfo.createdAt != null and userInfo.createdAt != ''">
            AND created_at LIKE concat ('%',#{userInfo.createdAt},'%')
        </if>

        <if test="userInfo.loginName != null and userInfo.loginName != ''">
            AND login_name LIKE concat ('%',#{userInfo.loginName},'%')
        </if>
    </select>
    <select id="findIdByLoginName" resultType="string">
        select id
        from user_info
        where is_delete = 0
          and login_name = #{loginName}
    </select>
    <select id="findByLoginName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        user_info
        where
        is_delete = 0 and login_name=#{loginName}
    </select>
    <select id="findByPhoneNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        user_info
        where
        is_delete = 0 and phone_num=#{phoneNum}
    </select>
    <select id="checkUserExist" resultType="java.lang.String">
        select id
        from user_info
        where login_name = #{loginName}
    </select>


</mapper>